@model ReviewSiteProjectMVC.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Game Details</h2>

<div>
    <h4>Review</h4>
    <div class="row">
        <div class="col-md-12 review-header">

           
           




            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.GameID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div><!-- end of col-md-12 -->
    </div>
</div>


    <!-- dont erase -->
    @*<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameReview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>*@