@model IEnumerable<ReviewSiteProjectMVC.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>

<p>
    <a href="~/Reviews/Create" type="btn" class="btn swagButton">Create</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-12 review-header">
        <div class="col-md-2 displayLeft">
            <ul>
                <li>
                    @Html.DisplayNameFor(model => model.Category.Name)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.Title)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.Publisher)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.PublishedDate)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.GameReview)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.GameScore)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.Price)
                </li>
            </ul>
        </div>
        <div class="col-md-10 displayRight">

            <ul>
                <li>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </li>
                <li>
                    @Html.DisplayFor(modelItem => item.Title)
                </li>
                <li>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </li>
                <li>
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </li>
                <li>
                    @Html.DisplayFor(modelItem => item.GameReview)
                </li>
                <li>
                    @Html.DisplayFor(modelItem => item.GameScore)
                </li>
                <li>
                    @Html.DisplayFor(modelItem => item.Price)
                </li>
            </ul>

        </div>
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = item.GameID })
            @Html.ActionLink("Details", "Details", new { id = item.GameID })
            @Html.ActionLink("Delete", "Delete", new { id = item.GameID })
        </div>
    </div><!-- col-md-12 end-->
       
    }
</div><!-- row end-->










